[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tiny-api-client = "*"

[dev-packages]
build = "*"
twine = "*"
pytest = "*"
pre-commit = "*"
mypy = "*"
flake8 = "*"
flake8-pyproject = "*"

[requires]
python_version = "3.10"
